:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 6px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 2.6em;
}
